
body{
  margin: 0;
  background-image: url("background1.jpg");
  background-size: cover;
}

.header {
  padding: 25px;
  text-align: center;
  color: blue;
  background-color: black;
}
.topnav {
  overflow: hidden;

  padding-left: 70%;
}

.topnav a {
  float: left;
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}




.column {
  float: left;
  padding: 10px;
}


.column.middle {
  width: 50%;
  height: 450px;
  //background-color: red;
 overflow: hidden;
  margin: auto;
  align-self: center;
}

.Trasition{
  height: 450px;
  width: 500%;
  //overflow: hidden;
  background-color: blue;


	animation-name:movement;
	animation-duration: 16s;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-timing-function: ease-in-out;
	animation-delay: 2s;
}
.Trasition img{
  height: 450px;
  width: 20%;
  float: left;

}





@media screen and (max-width: 300px) {
  .column.side, .column.middle {
    width: 100%;
  }
}





@keyframes movement
		{
			12.5%
			{
				margin-left: -100%;

			}
			25%
			{
				margin-left: -100%;
			}
			37.5%
			{

				margin-left: -200%;
			}
			50%
			{
				margin-left: -200%;
			}
			62.5%
			{
				margin-left: -300%;

			}
			75%
			{
				margin-left: -300%;
			}

			87.5%
			{
				margin-left: -400%;
			}
			100%
			{
				margin-left: -400%;
			}
		}
